/* Home.css */
.home-container {
    position: relative;
    height: 100vh;
    background-color: rgb(35, 76, 181);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Creates a dark overlay to improve text readability */
  }
  
  .home-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
    }
  
    p {
      font-size: 16px;
    }
  }
  